@import "theme.scss";
.field-table {
	width: 400px;
	height: 400px;
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
}
.field-table .table-element {
	width: 98px;
	height: 98px;
	border: 1px solid white;
	padding: 0;
	margin: 0;
	@include themify {
		background-color: themed('tableElementBackground');
		color: themed('textColor');
	}
	font-size: 2em;
	display: grid;
	place-items: center;
	font-weight: bold;
	transition: 0.3s;
	text-align: center;
}
.field-table .table-element.special {
	@include themify {
		background-image: themed('tableElementBackgroundGradient');
	}
}
.field-table input.table-element:focus {
	@include themify {
		background-color: themed('tableElementFocusColor');
	}
	outline: none;
	border-radius: 10px;
	transform: scale(1.1);
	border: none;
}

@media only screen and (max-width: 680px) {
	.field-table {
		transform: scale(0.8);
	}
}

@media only screen and (max-height: 1100px) and (min-height: 900px) {
	.field-table {
		transform: scale(1.4);
	}
}
