.footer {
	width: 100vw;
	height: 75px;
	background: var(--footer-background);
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
	display: grid;
	place-items: center;
	z-index: 1;
	grid-template-columns: 20% 80%;
}

.footer-copyright {
	font-size: 1.3em;
	color: var(--footer-text-color);
	font-weight: bold;
}
