.function-flex {
	width: 350px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.function-flex p {
	font-size: 1.3em;
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.function-flex .function-input {
	width: 300px;
	height: 50px;
	font-size: 1.3em;
	border: none;
	outline: none;
}
.function-flex .wanted-input {
	width: 100px;
	height: 50px;
	font-size: 1.3em;
	border: none;
	outline: none;
}
.experimental-text {
	color: red;
	font-size: 2em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-overflow: wrap;
}
@media only screen and (max-width: 680px) {
	.function-flex {
		transform: scale(0.8);
		margin-left: -2em;
	}
	.experimental-text {
		font-size: 1.3em;
	}
}

@media only screen and (max-height: 1100px) and (min-height: 900px) {
	.function-flex {
		transform: scale(1.5);
	}
	.calculate-button {
		margin-top: 1.5em;
		transform: scale(1.5);
	}
}
