.geo-layer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.text-style-default {
	color: var(--text-color);
	font-family: 'Roboto', medium;
	text-align: center;
}
.geo-layer .text {
	font-size: 40px;
	@extend .text-style-default;
}
.geo-layer .text-sm {
	font-size: 25px;
	@extend .text-style-default;
}
.geo-layer input {
	width: 40px;
	height: 40px;
	border: none;
	background-color: var(--input-form-color);
	border-radius: 10px;
	font-family: 'Roboto';
	color: var(--text-color);
	padding-left: 5px;
}
@media only screen and (max-width: 680px) {
	.geo-layer .text-sm {
		width: 40px;
	}
}
