.content-container {
	width: 100%;
	height: 80vh;
	position: absolute;
	top: 20vh;
	overflow: hidden scroll;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.content-container::-webkit-scrollbar {
	display: none;
}
.list-element {
	width: 80%;
	height: fit-content;
	display: grid;
	grid-template-columns: 30% 70%;
	background: var(--list-selector-background);
	text-align: center;
	text-decoration: none;
	color: var(--text-color);
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	transition: 0.3s;
}
.list-element:hover {
	filter: var(--list-selector-hover-brightness);
}
@media only screen and (max-width: 680px) {
	.content-container {
		top: calc(1vh + 120px);
	}
	.list-element {
		width: 95%;
		margin-left: -5%;
	}
}
@media only screen and (max-height: 1100px) and (min-height: 900px) {
	.content-container {
		top: calc(1vh + 100px);
	}
}
