.content-container {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 1vh;
    overflow: hidden scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.content-container::-webkit-scrollbar {
    display: none;
}
.list-element {
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: 30% 70%;
    background: #232228;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}
.list-element:hover {
    filter: brightness(1.4);
}
@media only screen and (max-width: 680px) {
    .content-container {
        margin-top: 120px;
    }
    .list-element {
        width: 95%;
        margin-left: -5%;
    }
}
@media only screen and (max-height: 1100px) and (min-height: 900px) {
    .content-container {
        margin-top: 100px;
    }
}