.ncr-input {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: fit-content;
	height: fit-content;
}

.ncr-input-field {
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background-color: var(--input-form-color);
	border-radius: 10px;
	font-family: 'Roboto';
	color: var(--text-color);
	padding-left: 8px;
}

.ncr-input-symbols {
	color: var(--text-color);
	font-family: 'Roboto', medium;
	font-size: 135px;
	height: 100%;
	text-align: center;
	margin-top: -30px;
}

.ncr-outer-wrapper {
	display: flex;
	flex-direction: row;
	gap: 3px;
	width: fit-content;
	height: fit-content;
}
