@import "theme.scss";

$triangleWidth: 500px;
$triangleHeight: 250px;

.triangle-container {
	@import './general.scss';
	@extend .container;
	width: 100vw;
	margin-top: -15%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.outer-triangle {
	width: calc($triangleWidth + 100px);
	height: calc($triangleHeight + 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.triangle {
	width: $triangleWidth;
	height: $triangleHeight;
	z-index: 1;
	overflow: hidden;
}

@mixin KathMixin($name, $top, $left, $length, $rotation) {
	.triangle .#{$name} {
		position: relative;
		top: $top;
		left: $left;
		display: block;
		transform: rotate($rotation);
		width: $length;
		height: 2px;
		@include themify {
			background-color: themed('textColor');
		}
	}
}
@include KathMixin(bottom-kath, 240px, 0, $triangleWidth, 0deg);
@include KathMixin(left-kath, calc(240px / 4 * 3), calc(-120px / 2), 125px, -90deg);
@include KathMixin(hypothenuse, 187px, -6px, 540px, 15.8deg);

@mixin TriangleInput($name, $top, $left) {
	.outer-triangle .#{$name} {
		@extend .triangle-input;
		position: relative;
		top: $top;
		left: $left;
	}
	.triangle-input {
		width: 50px;
		height: 30px;
		border: none;
		transition: 0.3s;
	}
	.triangle-input:focus {
		outline: none;
		filter: brightness(1.2);
	}
}
@include TriangleInput(input-hypothenuse, 20px, -260px);
@include TriangleInput(input-kath-left, 60px, 40px);
@include TriangleInput(input-kath-bottom, 140px, 225px);

.input-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	padding: 10px;
	@include themify {
		border: 1px solid themed('textColor');
	}
	border: 1px solid white;
	margin-top: 40px;
}

.input-flex {
	display: grid;
	place-items: center;
	width: 200px;
	height: fit-content;
	grid-template-columns: 30% 70%;
}

.input-flex p {
	@include themify {
		border: 1px solid themed('textColor');
	}
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

@media only screen and (max-width: 680px) {
	.triangle-container {
		transform: scale(0.7);
	}
	.input-container {
		margin-top: 120px;
		transform: scale(1.6);
	}
	.triangle-container .calculate-button {
		margin-top: 150px;
		transform: scale(2);
	}
}
@media only screen and (max-height: 1100px) and (min-height: 900px) {
	.triangle-container {
		margin-top: -10%;
		width: 70%;
		transform: scale(1.4);
	}
}
