.vector-container {
	display: flex;
	flex-direction: row;
}
.vector-symbols {
	color: var(--text-color);
	font-size: 140px;
	height: 100%;
	text-align: center;
	font-family: 'Roboto', thin;
	margin-top: -20px;
}
.vector-flex {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	gap: 3px;
}
.vector-flex input {
	width: 45px;
	height: 45px;
	border: none;
	background-color: var(--input-form-color);
	border-radius: 10px;
	font-family: 'Roboto';
	color: var(--text-color);
	padding-left: 8px;
}
