.vector-inline {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, 50%);
	height: 50%;
	width: 90vw;
}

@media only screen and (max-width: 680px) {
	.vector-inline {
		height: 70%;
		grid-template-columns: 100%;
		grid-template-rows: repeat(2, 50%);
		margin-top: -5em;
		width: 60% !important;
	}
}

@media only screen and (max-height: 1100px) and (min-height: 900px) {
	.vector-inline {
		transform: scale(1.8);
		margin-bottom: 3em;
		width: 100% !important;
	}
}
