:root {
    --four-field-table-border: 1px solid black;
    --four-field-table-background: #dcdcdc;
    --four-field-table-special-background: linear-gradient(to bottom right, rgb(233, 233, 233), rgb(105, 105, 105));
    --four-field-table-focus-background: rgb(120, 120, 120);
    --text-color: #212121;
    --exterimental-text: red;
    --calculate-button-background: rgb(19, 131, 193);
    --navbar-hover-color: #939393;
    --navbar-background: #cecece;
    --navbar-toggler-background: #b3b2b2;
    --navbar-toggler-border: 1px solid rgb(156, 156, 156);
    --snackbar-background: red;
    --triangle-color: #000000;
    --triangle-input-border: 1px solid #000000;
    --list-selector-background: #bab9b9;
    --list-selector-hover-brightness: brightness(0.8);
    --calculator-data-display-background: #4b4b4b;
    --inverted-text-color: white;
    --input-form-color: #b8b8b8;
    --result-form-color: #b8b8b8;
    --footer-background: #dddddd;
    --footer-text-color: #666666;
    --toggle-multiview-background: #a6a6a6;
    --toggle-multiview-border: #696868;
    --toggle-multiview-selected: #4a52e5;
    --toggle-multiview-selected-border: #3940b9;
    /*
        calculator vars
    */
    --text-for-calculator: white;
    --calculator-normal-button-color: #dcdcdc;
    --calculator-action-button-color: #eb6715;
    --calculator-extra-button: #b4b4b4;
}
body {
    background: white; overflow: hidden
}
input {
    background: #b6b6b6;
}
